<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      MediOne App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.JPG"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>The Diagnosis App</ion-card-subtitle>
        <ion-card-title>Welcome to MediOne</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>This App follows an offline first approach (Displays cached data when internet connection is not available. <br /> <br /></p>
        <p> With this app you can find the results in the tabs categorised by valid and invalid diagnosis reports  </p>
      </ion-card-content>
    </ion-card>

</ion-content>
